<h1>Add User Address </h1>

<%= form_with model: @address do |form| %>
    <div class="row mt-3">
        <div class="col-lg-3">
             <div class="form-group">
                    <%= form.label :address %>
                    <%= form.text_field :address, placeholder:"Enter User Address ", class:"form-control" %>
             </div>
        </div>
    </div>

    <div>
        <% @address.errors.full_messages_for(:address).each do |message| %>
             <p class="text-danger">  <%= message %> </p>
        <% end %>
    </div>

    <div class="row mt-3">
        <div class="col-lg-3">
             <div class="form-group">
                    <%= form.label :user_id %>
                    <%= form.text_field :user_id, :readonly => true, class:"form-control" %>
             </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-3">
             <div class="form-group">
                     <%= form.submit "Add Address", class:"btn btn-success" %>
             </div>
        </div>
    </div>

<% end %>
