<%= form_with model: category do |form| %>

<div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                        <%= form.label :category, "Category" %>
                        <%= form.select :category, ['music','visual_art','film','fashion'], {}, class:"form-control" %>
                </div>
            </div>
</div>

<div class="row mt-3">
            <div class="col-lg-3">
                <div class="form-group">
                        <%= form.label :event_id, "User" %>
                        <%= form.select :event_id, @events, {} ,class:"form-control" %>
                </div>
            </div>
</div>

<div class="row mt-3">
            <div class="col-lg-3">
                <div class="form-group">
                         <%= form.submit "Add Category", class:"btn btn-success" %>
                </div>
            </div>
</div>

<% end %>


